{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_helpdesk/choosesupporters

    The members of the platform team, to edit, remove or add them.

    Context variables required for this template:
    * sesskey The session key.
    * supporters The members: id, userid, firstname, lastname, supportlevel and autoassign.

    Example context (json):
    {
        "wwwroot": "https://example.com",
        "sesskey": "abc123",
        "supporters": [
            {
                "id": 1,
                "userid": 5,
                "firstname": "Sam",
                "lastname": "Support",
                "supportlevel": "2nd level support",
                "autoassign": 1
            }
        ]
    }
}}
<div class="local_helpdesk choosesupporters">
    {{! A form cannot be part of a table, so the forms stand apart and every field names its form. }}
    {{#supporters}}
        <form method="post" enctype="multipart/form-data" id="local_helpdesk_supporter_{{id}}">
            <input type="hidden" name="id" value="{{id}}">
            <input type="hidden" name="sesskey" value="{{sesskey}}">
        </form>
    {{/supporters}}
    <form method="post" enctype="multipart/form-data" id="local_helpdesk_supporter_new">
        <input type="hidden" name="sesskey" value="{{sesskey}}">
    </form>
    <table class="generaltable w-100">
        <thead>
            <tr>
                <th style="width: 50px">{{#str}} userid, local_helpdesk {{/str}}</th>
                <th>{{#str}} name {{/str}}</th>
                <th>{{#str}} supportlevel, local_helpdesk {{/str}}</th>
                <th>{{#str}} autoassign, local_helpdesk {{/str}}</th>
                <th>{{#str}} action {{/str}}</th>
            </tr>
        </thead>
        <tbody>
            {{#supporters}}
                <tr>
                    <td><input type="number" name="userid" value="{{userid}}" form="local_helpdesk_supporter_{{id}}"></td>
                    <td>{{lastname}} {{firstname}}</td>
                    <td><input type="text" name="supportlevel" value="{{supportlevel}}" form="local_helpdesk_supporter_{{id}}"></td>
                    <td><input type="checkbox" name="autoassign" value="1" {{#autoassign}}checked{{/autoassign}} form="local_helpdesk_supporter_{{id}}"></td>
                    <td>
                        <input type="submit" name="remove" value="{{#str}} remove {{/str}}" form="local_helpdesk_supporter_{{id}}">
                        <input type="submit" value="{{#str}} save {{/str}}" form="local_helpdesk_supporter_{{id}}">
                    </td>
                </tr>
            {{/supporters}}
            <tr>
                <td><input type="number" name="userid" value="" form="local_helpdesk_supporter_new"></td>
                <td>-</td>
                <td><input type="text" name="supportlevel" value="" form="local_helpdesk_supporter_new"></td>
                <td><input type="checkbox" name="autoassign" value="1" checked form="local_helpdesk_supporter_new"></td>
                <td>
                    <input type="submit" value="{{#str}} save {{/str}}" form="local_helpdesk_supporter_new">
                </td>
            </tr>
        </tbody>
    </table>
</div>
