{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_helpdesk/helpbutton

    The support button in the navigation bar, with its menu of extra links.

    Context variables required for this template:
    * hasextralinks Whether there are extra links, which turn the button into a menu.
    * extralinks The extra links: id, name, url, faicon and target.
    * showissues Whether to show the button leading to the issue list.
    * issuesurl The address of the issue list.
    * prepageenabled Whether the support form is preceded by a page of its own.

    Example context (json):
    {
        "hasextralinks": true,
        "extralinks": [
            {
                "id": 0,
                "name": "Handbook",
                "url": "https://example.com/handbook",
                "faicon": "fa-book",
                "target": "_blank"
            }
        ],
        "showissues": true,
        "issuesurl": "https://example.com/local/helpdesk/issues.php",
        "prepageenabled": false
    }
}}
{{#hasextralinks}}
    <div class="popover-region popover-region-helpdesk collapsed">
        <a class="nav-link popover-region-toggle position-relative icon-no-margin" id="drop-down-{{uniqid}}"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            href="#" title="{{#str}} pluginname, local_helpdesk {{/str}}"
            aria-controls="drop-down-menu-{{uniqid}}" style="padding-right:0; padding-left:0;">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                focusable="false"  style=" width: 24px; -ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
                preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M21 12.22C21 6.73 16.74 3 12 3c-4.69 0-9 3.65-9 9.28c-.6.34-1 .98-1 1.72v2c0 1.1.9 2 2 2h1v-6.1c0-3.87 3.13-7 7-7s7 3.13 7 7V19h-8v2h8c1.1 0 2-.9 2-2v-1.22c.59-.31 1-.92 1-1.64v-2.3c0-.7-.41-1.31-1-1.62z" 
                fill="#2E3942" opacity="0.8"/><circle cx="9" cy="13" r="1"  fill="#2E3942" opacity="0.8"/><circle cx="15" cy="13" r="1"  fill="#2E3942" opacity="0.8"/>
                <path d="M18 11.03A6.04 6.04 0 0 0 12.05 6c-3.03 0-6.29 2.51-6.03 6.45a8.075 8.075 0 0 0 4.86-5.89c1.31 2.63 4 4.44 7.12 4.47z" 
                fill="#2E3942" opacity="0.8"/></svg>
        </a>
        <div class="dropdown-menu dropdown-menu-right" role="menu" id="drop-down-menu-{{uniqid}}" aria-labelledby="drop-down-{{uniqid}}">
            <a href="#"  class="dropdown-item menu-action" role="menuitem" data-title="{{#str}} create_issue, local_helpdesk {{/str}}" aria-labelledby="actionmenuaction-{{uniqid}}-x"
                onclick="require(['local_helpdesk/main'], function(MAIN){ MAIN.showBox(); }); return false;">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false"  style=" width: 24px; -ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M21 12.22C21 6.73 16.74 3 12 3c-4.69 0-9 3.65-9 9.28c-.6.34-1 .98-1 1.72v2c0 1.1.9 2 2 2h1v-6.1c0-3.87 3.13-7 7-7s7 3.13 7 7V19h-8v2h8c1.1 0 2-.9 2-2v-1.22c.59-.31 1-.92 1-1.64v-2.3c0-.7-.41-1.31-1-1.62z"  fill="#2E3942" opacity="0.8"/><circle cx="9" cy="13" r="1"  fill="#2E3942" opacity="0.8"/><circle cx="15" cy="13" r="1"  fill="#2E3942" opacity="0.8"/><path d="M18 11.03A6.04 6.04 0 0 0 12.05 6c-3.03 0-6.29 2.51-6.03 6.45a8.075 8.075 0 0 0 4.86-5.89c1.31 2.63 4 4.44 7.12 4.47z"  fill="#2E3942" opacity="0.8"/></svg>
                <span class="menu-action-text" id="actionmenuaction-{{uniqid}}-x">
                    {{#str}} create_issue, local_helpdesk {{/str}}
                </span>
            </a>
            <div class="dropdown-divider" role="presentation"><span class="filler">&nbsp;</span></div>
            {{#extralinks}}
                <a href="{{url}}" {{#target}} target="{{target}}" {{/target}} class="dropdown-item menu-action" role="menuitem" data-title="{{name}}" aria-labelledby="actionmenuaction-{{uniqid}}-{{id}}">
                    {{#faicon}}
                    <i class="icon fa {{faicon}}"></i>
                    {{/faicon}}
                    <span class="menu-action-text" id="actionmenuaction-{{uniqid}}-{{id}}">
                        {{name}}
                    </span>
                </a>
        {{/extralinks}}
        </div>
    </div>
{{/hasextralinks}}
{{^hasextralinks}}
    <div class="popover-region popover-region-helpdesk collapsed">
        <a href="#" class="nav-link popover-region-toggle position-relative icon-no-margin"
            title="{{#str}} tooltiptext, local_helpdesk {{/str}}"
            aria-label="{{#str}} tooltiptext, local_helpdesk {{/str}}"
            onclick="require(['local_helpdesk/main'], function(MAIN){ MAIN.showBox(); }); return false;">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false"  style=" width: 24px; -ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M21 12.22C21 6.73 16.74 3 12 3c-4.69 0-9 3.65-9 9.28c-.6.34-1 .98-1 1.72v2c0 1.1.9 2 2 2h1v-6.1c0-3.87 3.13-7 7-7s7 3.13 7 7V19h-8v2h8c1.1 0 2-.9 2-2v-1.22c.59-.31 1-.92 1-1.64v-2.3c0-.7-.41-1.31-1-1.62z"  fill="#2E3942" opacity="0.8"/><circle cx="9" cy="13" r="1"  fill="#2E3942" opacity="0.8"/><circle cx="15" cy="13" r="1"  fill="#2E3942" opacity="0.8"/><path d="M18 11.03A6.04 6.04 0 0 0 12.05 6c-3.03 0-6.29 2.51-6.03 6.45a8.075 8.075 0 0 0 4.86-5.89c1.31 2.63 4 4.44 7.12 4.47z"  fill="#2E3942" opacity="0.8"/></svg>
            <span class="tooltiptext">{{#str}} tooltiptext, local_helpdesk {{/str}}</span>
        </a>
    </div>
{{/hasextralinks}}

{{#showissues}}
    <div class="popover-region popover-region-issues collapsed">
        <a id="helpdesk-issues-toggle" class="nav-link popover-region-toggle position-relative icon-no-margin" href="{{{issuesurl}}}" role="button">
            <i class="fa fa-list-ul fa-fw mr-1" title="{{#str}} issues:show, local_helpdesk {{/str}}" role="img" aria-label="{{#str}} issues:show, local_helpdesk {{/str}}"></i>
            {{#str}} issues, local_helpdesk {{/str}}
        </a>
    </div>
{{/showissues}}

{{#prepageenabled}}
<script>
    if(typeof prepageinitialized == 'undefined') {
    let prepageinitialized = true;
        document.addEventListener('click', function (e) {
            console.log("initclick");
            console.log(e.target);
            if (e.target.dataset.toggle == 'helpdesk-prepage') {
                toggle('#helpdesk-form');
                toggle('#helpdesk-prepage');
            }
        });
    }


    function toggle(selector) {
        let x = document.querySelector(selector);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
{{/prepageenabled}}
