{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_helpdesk/holidaymode

    Shows when a supporter is away, or a dialogue to say until when they will be.

    Context variables required for this template:
    * holidaymode Until when the supporter is away, as timestamp, or 0.
    * wwwroot The address of the site.
    * sesskey The session key.
    * uniqid An id that is unique on the page.
    * holidayform The form to set the date, as HTML.

    Example context (json):
    {
        "holidaymode": 0,
        "wwwroot": "https://example.com",
        "sesskey": "abc123",
        "uniqid": "holiday1",
        "holidayform": "<form method=\"post\" action=\"#\"><div id=\"fitem_id_holidaymode\"><label for=\"id_holidaymode\">Away until</label> <input type=\"date\" id=\"id_holidaymode\" name=\"holidaymode\"></div></form>"
    }
}}
<div class="local_helpdesk_holidaymode">
    {{#holidaymode}}
        <div class="fitem row">
            <div class="col-md-6">
                {{#str}} holidaymode_is_on, local_helpdesk {{/str}}:
                {{#userdate}} {{holidaymode}}, %d. %B %Y, %H:%M{{/userdate}}
            </div>
        </div>
        <div>
            <i>{{#str}} holidaymode_is_on_descr, local_helpdesk {{/str}}</i>
            <a href="{{wwwroot}}/local/helpdesk/issues.php?holidaymodeend=1&amp;sesskey={{sesskey}}" class="btn btn-primary btn-block">
                <i class="fa fa-hourglass-end"></i>
                {{#str}} holidaymode_end, local_helpdesk {{/str}}
            </a>
        </div>
    {{/holidaymode}}
    {{^holidaymode}}
        <div style="float: right;">
            <a href="#" onclick="require(['jquery'], function($) { $('#holidaymode-{{uniqid}}').css('display', 'block'); }); return false;">
                <i class="fa fa-plane"></i>
                {{#str}} holidaymode, local_helpdesk {{/str}}
            </a>
        </div>

        <div class="modal moodle-has-zindex" data-region="modal-container" role="dialog"
            id="holidaymode-{{uniqid}}" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header " data-region="header">
                        <h5 class="modal-title" data-region="title">
                            {{#str}} holidaymode, local_helpdesk {{/str}}
                        </h5>
                        <a href="#" class="btn close" onclick="require(['jquery'], function($) { $('#holidaymode-{{uniqid}}').css('display', 'none'); }); return false;"
                             aria-label={{#quote}}{{#str}}closebuttontitle{{/str}}{{/quote}}>
                            <span aria-hidden="true">×</span>
                        </a>
                    </div>
                    <div class="modal-body" data-region="body">
                        {{{holidayform}}}
                    </div>
                    <div class="modal-footer" data-region="footer">
                        <button type="button" class="btn btn-primary" data-action="save"
                            onclick="require(['jquery'], function($) { $('#fitem_id_holidaymode').closest('form').submit(); });">
                            {{#str}} savechanges {{/str}}
                        </button>
                        <button type="button" class="btn btn-secondary"
                            onclick="require(['jquery'], function($) { $('#holidaymode-{{uniqid}}').css('display', 'none'); }); return false;">
                            {{#str}} cancel {{/str}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/holidaymode}}
</div>
