{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_helpdesk/issues

    The issue list of the platform team, grouped by how the viewer is involved.

    Context variables required for this template:
    * count How many issues each group holds: current, assigned, other and closed.
    * current Issues the viewer is responsible for.
    * assigned Issues the viewer follows.
    * other All other open issues.
    * closed Closed issues.
    * wwwroot The address of the site.
    * sesskey The session key.
    * hasprio Whether issues have a priority.
    * userlinks Whether names link to profiles.
    * accountmanagerenabled Whether the account manager column is shown.
    * columncount How many columns the table has.

    Example context (json):
    {
        "count": {
            "current": 1,
            "assigned": 1,
            "other": 1,
            "closed": 1
        },
        "wwwroot": "https://example.com",
        "sesskey": "abc123",
        "hasprio": true,
        "userlinks": true,
        "accountmanagerenabled": true,
        "columncount": 6,
        "current": [
            {
                "id": 7,
                "discussionid": 21,
                "name": "Printer is broken",
                "prio": "",
                "userid": 5,
                "userfullname": "Sally Student",
                "accountmanager": 6,
                "accountmanagerfn": "Anna Account",
                "currentsupporterid": 4,
                "currentsupportername": "Sam Support",
                "lastpostuserid": 5,
                "lastpostuserfullname": "Sally Student",
                "lastmodified": 1757592000,
                "state": {
                    "class": "badge-info",
                    "stateclass": "notstarted",
                    "status": "Not yet started"
                },
                "priolow": "active",
                "priomid": "",
                "priohigh": ""
            }
        ],
        "assigned": [
            {
                "id": 8,
                "discussionid": 22,
                "name": "Mouse is stuck",
                "prio": "",
                "userid": 5,
                "userfullname": "Sally Student",
                "accountmanager": 6,
                "accountmanagerfn": "Anna Account",
                "currentsupporterid": 4,
                "currentsupportername": "Sam Support",
                "lastpostuserid": 5,
                "lastpostuserfullname": "Sally Student",
                "lastmodified": 1757592000,
                "state": {
                    "class": "badge-warning",
                    "stateclass": "ongoing",
                    "status": "Ongoing"
                },
                "priolow": "active",
                "priomid": "",
                "priohigh": ""
            }
        ],
        "other": [
            {
                "id": 9,
                "discussionid": 23,
                "name": "Screen stays black",
                "prio": "",
                "userid": 5,
                "userfullname": "Sally Student",
                "accountmanager": 6,
                "accountmanagerfn": "Anna Account",
                "currentsupporterid": 4,
                "currentsupportername": "Sam Support",
                "lastpostuserid": 5,
                "lastpostuserfullname": "Sally Student",
                "lastmodified": 1757592000,
                "state": {
                    "class": "badge-orange",
                    "stateclass": "awaiting",
                    "status": "Awaiting user reply"
                },
                "priolow": "active",
                "priomid": "",
                "priohigh": ""
            }
        ],
        "closed": [
            {
                "id": 10,
                "discussionid": 24,
                "name": "Password forgotten",
                "prio": "",
                "userid": 5,
                "userfullname": "Sally Student",
                "accountmanager": 6,
                "accountmanagerfn": "Anna Account",
                "currentsupporterid": 4,
                "currentsupportername": "Sam Support",
                "lastpostuserid": 5,
                "lastpostuserfullname": "Sally Student",
                "lastmodified": 1757592000,
                "state": {
                    "class": "badge-success",
                    "stateclass": "closed",
                    "status": "Closed"
                },
                "priolow": "active",
                "priomid": "",
                "priohigh": ""
            }
        ]
    }
}}
<div class="local_helpdesk issues">
    <div class="info">
    {{#count}}
    <div class="row">
            <div class="col-md-3">
                <h3>{{current}}</h3>
                <p>{{#str}} issue:countcurrent,  local_helpdesk {{/str}}</p>
            </div>
            <div class="col-md-3">
                <h3>{{assigned}}</h3>
                <p>{{#str}} issue:countassigned, local_helpdesk{{/str}}</p>
            </div>
            <div class="col-md-3">
                <h3>{{other}}</h3>
                <p>{{#str}} issue:countother, local_helpdesk {{/str}}</p>
            </div>
            <div class="col-md-3">
                <h3>{{closed}}</h3>
                <p>{{#str}} issue:countclosed, local_helpdesk {{/str}}</p>
            </div>
        </div>
     {{/count}}
   </div>
    <h3>Filter</h3>
   <div id="issuefilter" class="container-fluid">
        <div class="row">
            <div class="p-2"><input type="checkbox" name="statefilter" value="notstarted" id="notstarted">
            <label for="notstarted">{{#str}} status:notstarted, local_helpdesk {{/str}}</label>
            </div>
            <div class="p-2">
            <input type="checkbox" name="statefilter" value="awaiting" id="awaiting">
            <label for="awaiting">{{#str}} status:awaitinguserreply, local_helpdesk {{/str}}</label>
            </div>
            <div class="p-2"><input type="checkbox" name="statefilter" value="ongoing" id="ongoing">
            <label for="ongoing">{{#str}} status:ongoing, local_helpdesk {{/str}}</label>
            </div>
            <div class="p-2"><input type="checkbox" name="statefilter" value="awaitingsupportaction" id="awaitingsupportaction">
            <label for="awaitingsupportaction">{{#str}} status:awaitingsupportaction, local_helpdesk {{/str}}</label>
            </div>
            <div class="p-2"><input type="checkbox" name="statefilter" value="closed" id="closed">
            <label for="closed">{{#str}} status:closed, local_helpdesk {{/str}}</label>
            </div>
        </div>
    </div>
    <table class="generaltable w-100">
        <thead>
            <tr>
                <th style="width: 20px">#</th>
                <th>{{#str}} issue, local_helpdesk {{/str}}</th>
                {{#accountmanagerenabled}}<th>{{#str}} accountmanagertitle , local_helpdesk {{/str}}</th>{{/accountmanagerenabled}}
                <th>{{#str}} assigned, local_helpdesk {{/str}}
                <br>{{#str}} lastpost, forum {{/str}}</th>
                <th>{{#str}} modified {{/str}}</th>
                <th>{{#str}} action {{/str}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="{{columncount}}">{{#str}} issues:current, local_helpdesk {{/str}}</th>
            </tr>
            {{#current}}
                <tr class="issue {{state.stateclass}}">
                    <td>
                        <a href="{{wwwroot}}/local/helpdesk/issue.php?d={{discussionid}}">
                            {{{prio}}}{{id}}
                        </a>
                    </td>
                    <td>
                        <a href="{{wwwroot}}/local/helpdesk/issue.php?d={{discussionid}}">
                            {{name}}
                        </a>
                        <br>
                        <span>{{#str}} startedby, local_helpdesk {{/str}} :</span>{{#userlinks}}
                            <a href="{{wwwroot}}/user/view.php?id={{userid}}">
                                {{userfullname}}
                            </a>
                        {{/userlinks}}
                        {{^userlinks}}
                            {{userfullname}}
                        {{/userlinks}}
                    </td>
                    {{#accountmanagerenabled}}
                    <td>
                        {{#accountmanager}}
                            {{#userlinks}}
                                <a href="{{wwwroot}}/user/view.php?id={{accountmanager}}">
                                    {{accountmanagerfn}}
                                </a>
                            {{/userlinks}}
                            {{^userlinks}}
                                {{accountmanagerfn}}
                            {{/userlinks}}
                        {{/accountmanager}}
                    </td>
                    {{/accountmanagerenabled}}
                    <td>
                        {{#userlinks}}
                            {{#currentsupporterid}}<a href="{{wwwroot}}/user/view.php?id={{currentsupporterid}}">{{/currentsupporterid}}
                            {{currentsupportername}}
                            {{#currentsupporterid}}</a>{{/currentsupporterid}}
                        {{/userlinks}}
                        {{^userlinks}}
                            {{currentsupportername}}
                        {{/userlinks}}
                    <br>
                        {{#userlinks}}
                            <a href="{{wwwroot}}/user/view.php?id={{lastpostuserid}}">
                                {{lastpostuserfullname}}
                            </a>
                        {{/userlinks}}
                        {{^userlinks}}
                            {{lastpostuserfullname}}
                        {{/userlinks}}
                    </td>
                    <td>
                        <div class="container">
                            <span class="badge {{state.class}} position-static">{{state.status}}</span>
                            <br> {{#userdate}} {{lastmodified}}, %F %X {{/userdate}}
                        </div>
                    </td>
                    <td>
                    {{> local_helpdesk/issue_state_select }}
                    <br>
                        <a class="btn btn-outline-info" href="{{wwwroot}}/local/helpdesk/issues.php?asignto={{discussionid}}" onclick="require(['local_helpdesk/main'], function(MAIN){ MAIN.assignSupporter({{discussionid}}); }); return false;" data-toggle="tooltip" data-placement="top" title="{{#str}} issue_assign, local_helpdesk {{/str}}">
                            {{#pix}} i/enrolusers, core {{/pix}}
                        </a>
                        <a class="btn btn-outline-danger" href="{{wwwroot}}/local/helpdesk/issues.php?close={{discussionid}}&amp;sesskey={{sesskey}}">
                            <i class="fa fa-window-close" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{#str}} issue_close, local_helpdesk {{/str}}"></i>
                        </a>
                        {{#hasprio}}
                        <div class="mt-2">
                         <a class="btn btn-outline-info {{priolow}}" href="{{wwwroot}}/local/helpdesk/issues.php?prio={{discussionid}}&amp;lvl=1&amp;sesskey={{sesskey}}" data-toggle="tooltip" data-placement="top" title="{{#str}} prioritylvl:low, local_helpdesk {{/str}}">
                            !
                        </a>
                        <a class="btn btn-outline-warning {{priomid}}" href="{{wwwroot}}/local/helpdesk/issues.php?prio={{discussionid}}&amp;lvl=2&amp;sesskey={{sesskey}}"  data-toggle="tooltip" data-placement="top" title="{{#str}} prioritylvl:mid, local_helpdesk {{/str}}">
                            !!
                        </a>
                        <a class="btn btn-outline-danger {{priohigh}}" href="{{wwwroot}}/local/helpdesk/issues.php?prio={{discussionid}}&amp;lvl=3&amp;sesskey={{sesskey}}"  data-toggle="tooltip" data-placement="top" title="{{#str}} prioritylvl:high, local_helpdesk {{/str}}">
                            !!!
                        </a>
                        </div>
                        {{/hasprio}}
                    </td>

                </tr>
            {{/current}}
            {{^current}}
            <tr>
                <td colspan="{{columncount}}">{{#str}} issues:current:none, local_helpdesk {{/str}}</td>
            </tr>
            {{/current}}
            <tr>
                <th colspan="{{columncount}}">{{#str}} issues:assigned, local_helpdesk {{/str}}</th>
            </tr>
            {{#assigned}}
                <tr class="issue {{state.stateclass}}">
                    <td>
                        {{{prio}}}
                        <a href="{{wwwroot}}/local/helpdesk/issue.php?d={{discussionid}}">
                            {{id}}
                        </a>
                    </td>
                    <td>
                        <a href="{{wwwroot}}/local/helpdesk/issue.php?d={{discussionid}}">
                            {{name}}
                        </a>
                        <br>
                        <span>{{#str}} startedby, local_helpdesk {{/str}} :</span>{{#userlinks}}
                            <a href="{{wwwroot}}/user/view.php?id={{userid}}">
                                {{userfullname}}
                            </a>
                        {{/userlinks}}
                        {{^userlinks}}
                            {{userfullname}}
                        {{/userlinks}}
                    </td>
                    {{#accountmanagerenabled}}
                    <td>
                        {{#accountmanager}}
                            {{#userlinks}}
                                <a href="{{wwwroot}}/user/view.php?id={{accountmanager}}">
                                    {{accountmanagerfn}}
                                </a>
                            {{/userlinks}}
                            {{^userlinks}}
                                {{accountmanagerfn}}
                            {{/userlinks}}
                        {{/accountmanager}}
                    </td>
                    {{/accountmanagerenabled}}
                    <td>
                        {{#userlinks}}
                            {{#currentsupporterid}}<a href="{{wwwroot}}/user/view.php?id={{currentsupporterid}}">{{/currentsupporterid}}
                            {{currentsupportername}}
                            {{#currentsupporterid}}</a>{{/currentsupporterid}}
                        {{/userlinks}}
                        {{^userlinks}}
                            {{currentsupportername}}
                        {{/userlinks}}
                    <br>
                        {{#userlinks}}
                            <a href="{{wwwroot}}/user/view.php?id={{lastpostuserid}}">
                                {{lastpostuserfullname}}
                            </a>
                        {{/userlinks}}
                        {{^userlinks}}
                                {{lastpostuserfullname}}
                        {{/userlinks}}
                    </td>
                    <td>
                            <span class="badge {{state.class}} position-static">{{state.status}}</span>
                            <br> {{#userdate}} {{lastmodified}}, %F %X {{/userdate}}
                    </td>
                    <td>
                        <a class="btn btn-outline-secondary" href="{{wwwroot}}/local/helpdesk/issues.php?unassign={{discussionid}}&amp;sesskey={{sesskey}}" data-toggle="tooltip" data-placement="top" title="{{#str}} issue_unwatch, local_helpdesk {{/str}}">
                            {{#pix}} i/show, core {{/pix}}
                        </a>
                        <a class="btn btn-outline-info" href="{{wwwroot}}/local/helpdesk/issues.php?take={{discussionid}}&amp;sesskey={{sesskey}}" data-toggle="tooltip" data-placement="top" title="{{#str}} issue_assign_me, local_helpdesk {{/str}}">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-outline-info" href="{{wwwroot}}/local/helpdesk/issues.php?asignto={{discussionid}}" onclick="require(['local_helpdesk/main'], function(MAIN){ MAIN.assignSupporter({{discussionid}}); }); return false;" data-toggle="tooltip" data-placement="top" title="{{#str}} issue_assign, local_helpdesk {{/str}}">
                            {{#pix}} i/enrolusers, core {{/pix}}
                        </a>
                        <a class="btn btn-outline-danger" href="{{wwwroot}}/local/helpdesk/issues.php?close={{discussionid}}&amp;sesskey={{sesskey}}" data-toggle="tooltip" data-placement="top" title="{{#str}} issue_close, local_helpdesk {{/str}}">
                            <i class="fa fa-window-close" aria-hidden="true"></i>
                        </a>
                        {{#hasprio}}
                        <div class="mt-2">
                        <a class="btn btn-outline-primary  {{priolow}}" href="{{wwwroot}}/local/helpdesk/issues.php?prio={{discussionid}}&amp;lvl=1&amp;sesskey={{sesskey}}" data-toggle="tooltip" data-placement="top" title="{{#str}} prioritylvl:low, local_helpdesk {{/str}}">
                        !
                        </a>
                        <a class="btn btn-outline-warning {{priomid}}" href="{{wwwroot}}/local/helpdesk/issues.php?prio={{discussionid}}&amp;lvl=2&amp;sesskey={{sesskey}}"  data-toggle="tooltip" data-placement="top" title="{{#str}} prioritylvl:mid, local_helpdesk {{/str}}">
                        !!
                        </a>
                        <a class="btn btn-outline-danger {{priohigh}}" href="{{wwwroot}}/local/helpdesk/issues.php?prio={{discussionid}}&amp;lvl=3&amp;sesskey={{sesskey}}"  data-toggle="tooltip" data-placement="top" title="{{#str}} prioritylvl:high, local_helpdesk {{/str}}">
                        !!!
                        </a>
                        </div>
                    {{/hasprio}}
                    </td>
                </tr>
            {{/assigned}}
            {{^assigned}}
            <tr>
                <td colspan="{{columncount}}">{{#str}} issues:assigned:none, local_helpdesk {{/str}}</td>
            </tr>
            {{/assigned}}
            <tr>
                <th colspan="{{columncount}}">{{#str}} issues:other, local_helpdesk {{/str}}</th>
            </tr>
            {{#other}}
                <tr class="issue {{state.stateclass}}">
                    <td>
                         {{{prio}}}
                        <a href="{{wwwroot}}/local/helpdesk/issue.php?d={{discussionid}}">
                            {{id}}
                        </a>
                    </td>
                    <td>
                        <a href="{{wwwroot}}/local/helpdesk/issue.php?d={{discussionid}}">
                            {{name}}
                        </a>
                        <br>
                        <span>{{#str}} startedby, local_helpdesk {{/str}} :</span>{{#userlinks}}
                            <a href="{{wwwroot}}/user/view.php?id={{userid}}">
                                {{userfullname}}
                            </a>
                        {{/userlinks}}
                        {{^userlinks}}
                            {{userfullname}}
                        {{/userlinks}}
                    </td>
                    {{#accountmanagerenabled}}
                    <td>
                        {{#accountmanager}}
                            {{#userlinks}}
                                <a href="{{wwwroot}}/user/view.php?id={{accountmanager}}">
                                    {{accountmanagerfn}}
                                </a>
                            {{/userlinks}}
                            {{^userlinks}}
                                {{accountmanagerfn}}
                            {{/userlinks}}
                        {{/accountmanager}}
                    </td>
                    {{/accountmanagerenabled}}
                    <td>
                        {{#userlinks}}
                            {{#currentsupporterid}}<a href="{{wwwroot}}/user/view.php?id={{currentsupporterid}}">{{/currentsupporterid}}
                            {{currentsupportername}}
                            {{#currentsupporterid}}</a>{{/currentsupporterid}}
                        {{/userlinks}}
                        {{^userlinks}}
                            {{currentsupportername}}
                        {{/userlinks}}
                    <br>
                        {{#userlinks}}
                            <a href="{{wwwroot}}/user/view.php?id={{lastpostuserid}}">
                                {{lastpostuserfullname}}
                            </a>
                        {{/userlinks}}
                        {{^userlinks}}
                                {{lastpostuserfullname}}
                        {{/userlinks}}
                    </td>
                    <td>
                            <span class="badge {{state.class}} position-static">{{state.status}}</span>
                            <br> {{#userdate}} {{lastmodified}}, %F %X {{/userdate}}
                    </td>
                    <td>
                        <a class="btn btn-outline-secondary" href="{{wwwroot}}/local/helpdesk/issues.php?assign={{discussionid}}&amp;sesskey={{sesskey}}" data-toggle="tooltip" data-placement="top" title="{{#str}} issue_watch, local_helpdesk {{/str}}">
                            {{#pix}} i/hide, core {{/pix}}
                        </a>
                        <a class="btn btn-outline-secondary" href="{{wwwroot}}/local/helpdesk/issues.php?take={{discussionid}}&amp;sesskey={{sesskey}}" data-toggle="tooltip" data-placement="top" title="{{#str}} issue_assign_me, local_helpdesk {{/str}}">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-outline-info" href="{{wwwroot}}/local/helpdesk/issues.php?asignto={{discussionid}}" onclick="require(['local_helpdesk/main'], function(MAIN){ MAIN.assignSupporter({{discussionid}}); }); return false;" data-toggle="tooltip" data-placement="top" title="{{#str}} issue_assign, local_helpdesk {{/str}}">
                            {{#pix}} i/enrolusers, core {{/pix}}
                        </a>
                        <a class="btn btn-outline-danger" href="{{wwwroot}}/local/helpdesk/issues.php?close={{discussionid}}&amp;sesskey={{sesskey}}" data-toggle="tooltip" data-placement="top" title="{{#str}} issue_close, local_helpdesk {{/str}}">
                            <i class="fa fa-window-close" aria-hidden="true"></i>
                        </a>
                        {{#hasprio}}
                        <div class="mt-2">
                        <a class="btn btn-outline-primary {{priolow}}"  href="{{wwwroot}}/local/helpdesk/issues.php?prio={{discussionid}}&amp;lvl=1&amp;sesskey={{sesskey}}"  data-toggle="tooltip" data-placement="top" title="{{#str}} prioritylvl:low, local_helpdesk {{/str}}">
                            !
                        </a>
                        <a class="btn btn-outline-warning {{priomid}}" href="{{wwwroot}}/local/helpdesk/issues.php?prio={{discussionid}}&amp;lvl=2&amp;sesskey={{sesskey}}"  data-toggle="tooltip" data-placement="top" title="{{#str}} prioritylvl:mid, local_helpdesk {{/str}}">
                            !!
                        </a>
                        <a class="btn btn-outline-danger {{priohigh}}" href="{{wwwroot}}/local/helpdesk/issues.php?prio={{discussionid}}&amp;lvl=3&amp;sesskey={{sesskey}}"  data-toggle="tooltip" data-placement="top" title="{{#str}} prioritylvl:high, local_helpdesk {{/str}}">
                            !!!
                        </a>
                        </div>
                    {{/hasprio}}
                    </td>

                </tr>
            {{/other}}
            <tr>
                <th colspan="{{columncount}}">{{#str}} issues:closed, local_helpdesk {{/str}}</th>
            </tr>
            {{#closed}}
                <tr class="issue {{state.stateclass}}">
                    <td>
                        <a href="{{wwwroot}}/local/helpdesk/issue.php?d={{discussionid}}">
                            {{id}}
                        </a>
                    </td>
                    <td>
                        <a href="{{wwwroot}}/local/helpdesk/issue.php?d={{discussionid}}">
                            {{name}}
                        </a>
                        <br>
                        <span>{{#str}} startedby, local_helpdesk {{/str}} :</span>{{#userlinks}}
                            <a href="{{wwwroot}}/user/view.php?id={{userid}}">
                                {{userfullname}}
                            </a>
                        {{/userlinks}}
                        {{^userlinks}}
                            {{userfullname}}
                        {{/userlinks}}
                    </td>
                    {{#accountmanagerenabled}}
                    <td>
                        {{#accountmanager}}
                            {{#userlinks}}
                                <a href="{{wwwroot}}/user/view.php?id={{accountmanager}}">
                                    {{accountmanagerfn}}
                                </a>
                            {{/userlinks}}
                            {{^userlinks}}
                                {{accountmanagerfn}}
                            {{/userlinks}}
                        {{/accountmanager}}
                    </td>
                    {{/accountmanagerenabled}}
                    <td>
                        {{#userlinks}}
                            {{#currentsupporterid}}<a href="{{wwwroot}}/user/view.php?id={{currentsupporterid}}">{{/currentsupporterid}}
                            {{currentsupportername}}
                            {{#currentsupporterid}}</a>{{/currentsupporterid}}
                        {{/userlinks}}
                        {{^userlinks}}
                            {{currentsupportername}}
                        {{/userlinks}}
                    <br>
                        {{#userlinks}}
                            <a href="{{wwwroot}}/user/view.php?id={{lastpostuserid}}">
                                {{lastpostuserfullname}}
                            </a>
                        {{/userlinks}}
                        {{^userlinks}}
                                {{lastpostuserfullname}}
                        {{/userlinks}}
                    </td>
                    <td>
                           <span class="badge {{state.class}} position-static">{{state.status}}</span>
                            <br> {{#userdate}} {{lastmodified}}, %F %X {{/userdate}}
                    </td>
                    <td>
                        <a class="btn btn-outline-success" href="{{wwwroot}}/local/helpdesk/issues.php?reopen={{discussionid}}&amp;sesskey={{sesskey}}" data-toggle="tooltip" data-placement="top" title="{{#str}} issue_reopen, local_helpdesk {{/str}}">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            {{/closed}}
        </tbody>
    </table>
</div>


{{#js}}
    require(['local_helpdesk/issues'], function(issues) {
    issues.init();
  });
{{/js}}