{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_helpdesk/issue_template

    The first post of a new issue, with what is known about where it came from.

    Context variables required for this template:
    * webhost The host the request was sent from.
    * url The page the request was sent from.
    * contactphone The phone number to call back.
    * includeemail The e-mail address to answer to.
    * description The description of the problem, as HTML.

    Example context (json):
    {
        "webhost": "school.example.com",
        "url": "https://example.com/course/view.php?id=2",
        "contactphone": "+431234567",
        "includeemail": "sally@example.com",
        "description": "<p>The printer does not print.</p>"
    }
}}

{{#webhost}}
    <p>{{#str}} webhost, local_helpdesk {{/str}}: {{webhost}}</p>
{{/webhost}}
{{#url}}
    <p>{{#str}} weburl, local_helpdesk {{/str}}: <a href="{{url}}" target="_blank">{{url}}</a></p>
{{/url}}
{{#contactphone}}
    <p><a href="tel:{{contactphone}}">{{contactphone}}</a></p>
{{/contactphone}}
{{#includeemail}}
    <p><a href="mailto:{{includeemail}}">{{includeemail}}</a></p>
{{/includeemail}}

<div>
    {{{description}}}
</div>
