{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
   @template local_helpdesk/issue_options

   The purpose of this template is to render action buttons for issues.

   Classes required for JS:
   * none

   Data attributes required for JS:
   * none

   Context variables required for this template:
   * options List of buttons, each with title and optionally class, icon, href and action (a data-action of local_helpdesk/actions).
     An option without href is shown as a label instead of a button.
   * changestatus Whether to show the select to change the status.
   * discussionid The discussion the actions are about.
   * id The id of the issue, needed when changestatus is set.

   Example context (json):
   {
       "options": [
           {
               "title": "Sam Support (2nd level support)",
               "class": "",
               "href": "https://example.com/user/profile.php?id=2"
           },
           {
               "title": "Ongoing",
               "class": "alert-warning"
           },
           {
               "title": "Assign",
               "class": "btn-secondary",
               "icon": "i/assignroles",
               "href": "#"
           }
       ],
       "changestatus": true,
       "discussionid": 7,
       "id": 42
   }
 }}
<div class="local_helpdesk issue_options" style="float: right;">
    {{#options}}
        {{#href}}
            <a href="{{href}}"
               class="btn {{#class}} {{class}} {{/class}}"
                {{#action}} data-action="{{action}}" data-discussionid="{{discussionid}}" {{/action}}>
                {{#icon}} {{#pix}} {{icon}} {{/pix}} {{/icon}}
                {{title}}
            </a>
        {{/href}}
        {{^href}}
            <span class="alert {{#class}} {{class}} {{/class}}"
                {{#action}} data-action="{{action}}" data-discussionid="{{discussionid}}" {{/action}}>
                {{#icon}} {{#pix}} {{icon}} {{/pix}} {{/icon}}
                {{title}}
            </span>
        {{/href}}
    {{/options}}
    {{#changestatus}}
        <div class="d-inline-block">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="local_helpdesk_issue_state_select_{{id}}">{{#str}} changestatus, local_helpdesk {{/str}}</label>
                </div>
                {{> local_helpdesk/issue_state_select }}
            </div>
        </div>
    {{/changestatus}}
</div>
{{#changestatus}}
    {{#js}}
        require(['local_helpdesk/issues'], function(issues) {
        issues.init();
        });
    {{/js}}
{{/changestatus}}
