{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_helpdesk/post_mailhtml

    The html mail telling a subscriber about a new post in an issue.

    Context variables required for this template:
    * authorpicture The picture of the author, as HTML.
    * subject The subject of the post.
    * authorlink The profile address of the author.
    * authorfullname The name of the author.
    * postdate When the post was written.
    * grouppicture The picture of the group, as HTML, if any.
    * attachments The attachments, as HTML, if any.
    * message The post, as HTML.
    * issuelink The address of the issue.
    * replylink The address to reply at.

    Example context (json):
    {
        "authorpicture": "<img src=\"https://example.com/pix/u/f2.png\" alt=\"Sally Student\" width=\"35\" height=\"35\">",
        "subject": "Printer is broken",
        "authorlink": "https://example.com/user/view.php?id=5",
        "authorfullname": "Sally Student",
        "postdate": "11. September 2026, 15:30",
        "grouppicture": "",
        "attachments": "",
        "message": "<p>The printer in room 12 does not print.</p>",
        "issuelink": "https://example.com/local/helpdesk/issue.php?d=12",
        "replylink": "https://example.com/local/helpdesk/issue.php?d=12&replyto=34"
    }
}}

<table class="forumpost" style="border: 0; border-collapse: collapse;">
    <tr class="header">
        <td class="picture left" style="width: 35px; padding: 3px; vertical-align: top;">
            {{{ authorpicture }}}
        </td>
        <td class="topic" style="padding: 3px;">
            <div class="subject">
                {{{ subject }}}
            </div>
            <div class="author">
                {{# str }} bynameondate, forum, {
                        "name": {{# quote }}<a target='_blank' href='{{{ authorlink }}}'>{{ authorfullname }}</a>{{/ quote }},
                        "date": {{# quote }}{{ postdate }}{{/ quote }}
                    } {{/ str }}
            </div>
        </td>
    </tr>
    <tr>
        <td class="left side" style="padding: 3px; vertical-align: top;">
            {{# grouppicture }}
                {{{ grouppicture }}}
            {{/ grouppicture }}
            {{^ grouppicture }}
                &nbsp;
            {{/ grouppicture }}
        </td>
        <td class="content" style="padding: 3px;">
            {{# attachments }}
                <div class="attachments">
                    {{{ attachments }}}
                </div>
            {{/ attachments }}
            {{{ message }}}

            <div class="commands">
                <a target="_blank" href="{{{ issuelink }}}">
                    {{# str }} parent, forum {{/ str }}
                </a>
                    |
                <a target="_blank" href="{{{ replylink }}}">
                    {{# str }} reply, forum {{/ str }}
                </a>
            </div>
        </td>
    </tr>
</table>
